<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <!-- bootstrap, custom css 링크 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">

  <!-- Custom fonts for this template-->
  <!-- fontawesome-free 파일 설치해서 넣었는데 적용안됨, 그래서 직접 링크함-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

</head>
<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="mainText">테스트 페이지입니다.</p>
<p class="mainSubText">이제 뭐만들지?</p>

<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>