<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <!-- bootstrap, custom css 링크 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <!-- fontawesome-free 파일 설치해서 넣었는데 적용안됨, 그래서 직접 링크함-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>


</head>
<body>
<div th:replace="navbar/navBar2 :: navBar2"/>

<div th:replace="clock/alarmClock :: clock"/>


<p class="mainText2" style="margin-top: 100px;margin-bottom: 0px">약과의 시간 약속 약쏙에서<br></p>
<p class="mainSubText2" style="margin-bottom: 100px">약 복용 현황, 여러 약통의 복용법 및 약 정보 조회와 복용 알람 기능까지<br>모든 기능을 약 쏙에서 찾아보세요.
</p>
<div style="position: relative;bottom: 215px;margin-left: 470px;width: 150px;height: 150px;border: 4px solid black; border-radius: 20%;"
     data-bs-toggle="modal" data-bs-target="#alarmClock">
    <img id="myProfile" style="width: 100%;height: 100%; padding:5px;">
</div>
<div style="width: 1400px;margin: 0 auto">
    <img src="/image/d.png" style="height: 700px;width: 1400px">

<div style="height: 100px"></div>
</div>
<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/clock.js"></script>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })

</script>
</body>
</html>