<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>myPage</title>
  <!-- bootstrap, custom css 링크 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/home.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
  <link
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>
<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="mainText">테스트 페이지입니다.</p>
<p class="mainSubText">알람설정 페이지 만드는중.</p>
<div class="mediSearchDiv" id="searchMainDiv" >
  <table class="table table-bordered border-secondary" >
    <thead>
    <tr></tr>
    </thead>
    <tbody>
    <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
    <tr>
      <th class="table-active" valign="middle" colspan="4">
        <i class="fab fa-stopwatch fa-fw"></i></i> Google 계정으로 로그인
      </th>

    </tr>
    <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
    <tr>
      <th class="table" valign="middle">감기약<br>혈압약</th>
    </tr>

    </tr>
    <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
    <tr>
      <th class="table-active" valign="middle">

      </th>

    </tr>



    </tbody>
  </table>
</div>


<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>
<script>
  function updateDiv(){
    window.location.reload();
  }
</script>
</body>
</html>