<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <!-- bootstrap, custom css 링크 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
</head>
<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="myPageText">MY PAGE</p>

<div class="myPage">
    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp개인정보</p>
    <div class="myPageIndiv">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="IdText" class="col-form-label">아이디</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="IdText" class="form-control" placeholder="IdTest1234" disabled>
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="emailText" class="col-form-label">이메일</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="emailText" class="form-control" placeholder="IdTest1234@naver.com" disabled>
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="nameText" class="col-form-label">닉네임</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="nameText" class="form-control" placeholder="닉네임" disabled>
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="callText" class="col-form-label">연락처</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="callText" class="form-control" placeholder="010-1234-5678" disabled>
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="adressText" class="col-form-label">주소지</label><br><br>
                <label for="adressText2" class="col-form-label"></label>
            </div>
            <div class="col-md-8">
                <input type="text" id="adressText" class="form-control" placeholder="서울특별시 어디 어디" disabled>
                <input type="text" id="adressText2" class="form-control" disabled>
            </div>
            <div class="col-auto">
                <span>
                    <button type="button" class="btn btn-primary">검색</button><br><br><br>
                </span>
            </div>
        </div>
    </div>

    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp 패스워드 변경</p>
    <div class="myPageIndiv">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="ownPass" class="col-form-label" style="padding-right: 3em">패스워드&nbsp</label>
            </div>
            <div class="col-md-9">
                <input type="password" id="ownPass" class="form-control" placeholder="현재 비밀번호">
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="newPass" class="col-form-label">변경할 패스워드</label>
            </div>
            <div class="col-md-9">
                <input type="password" id="newPass" class="form-control" placeholder="새 비밀번호">
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="rePass" class="col-form-label" style="padding-right: 1em">패스워드 확인</label>
            </div>
            <div class="col-md-9">
                <input type="password" id="rePass" class="form-control" placeholder="비밀번호 확인">
            </div>
        </div>
        <br>
    </div>

    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp친구 설정</p>
    <div class="myPageIndiv">
        <p class="myPageInText">asdfasdfsaf</p>
    </div>

    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp알림 설정</p>
    <div class="myPageIndiv">
        asdf
    </div>

</div>
</body>
</html>