<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <!-- bootstrap, custom css 링크 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
</head>
<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="myPageText">MY PAGE</p>

<div class="myPage">
    <hr class="myPageHr">
    <hr class="myPageHr">
    <hr class="myPageHr">
    <hr class="myPageHr">
    <hr class="myPageHr">
</div>
</body>
</html>