<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <!-- bootstrap, custom css 링크 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    <!-- fontawesome-free 파일 설치해서 넣었는데 적용안됨, 그래서 직접 링크함-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

</head>
<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="myPageText">MY PAGE</p>

<div class="myPage">
    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp개인정보</p>

    <div class="myPageIndiv">
        <br>
        <div class="row g-3 align-items-center  no-gutters">
            <br>
            <div class="col-auto">
                <label for="emailText" class="col-form-label">이메일</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="emailText" class="form-control" placeholder="test2@naver.com"
                       style="font-weight: 600;"
                       th:value="${member.getEmail()}" disabled>
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center no-gutters">
            <div class="col-auto">
                <label class="col-form-label">닉네임</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="nameText" class="form-control" placeholder="닉네임" style="font-weight: 600;"
                       th:value="${member.getNickname()}">
            </div>
        </div>
        <br>
        <div class="row g-3 align-items-center no-gutters">
            <div class="col-auto">
                <label for="callText" class="col-form-label">연락처</label>
            </div>
            <div class="col-md-9">
                <input type="text" id="callText" class="form-control" placeholder="010-1234-5678"
                       th:value="${member.getPhone()}">
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <span>
                    <button id="btn-update" type="button" class="btn btn-primary">변경</button>
                </span>
            </div>
        </div>
        <div style="position: relative;bottom: 215px;margin-left: 470px;width: 150px;height: 150px;border: 4px solid black; border-radius: 20%;"
             data-bs-toggle="modal" data-bs-target="#profile-change">
            <img id="myProfile" style="width: 100%;height: 100%; padding:5px;"
                 th:src="'/image/profile-icon/' + ${member.getPicture()}+ '.png'" th:value="${member.getPicture()}">
        </div>
    </div>

    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp 패스워드 변경</p>
    <br>
    <div class="myPageIndiv2">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="nowPass" class="col-form-label" style="padding-right: 3em">패스워드&nbsp</label>
            </div>
            <div class="col-md-9">
                <input type="password" maxlength="20" id="nowPass" name="nowPass" class="form-control"
                       placeholder="현재 비밀번호">
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="newPass" class="col-form-label">변경할 패스워드</label>
            </div>
            <div class="col-md-9">
                <input type="password" maxlength="20" id="newPass" name="newPass" class="form-control"
                       placeholder="새 비밀번호">
            </div>
        </div>
        <br>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="rePass" class="col-form-label" style="padding-right: 1em">패스워드 확인</label>
            </div>
            <div class="col-md-9">
                <input type="password" maxlength="20" id="rePass" name="rePass" class="form-control"
                       placeholder="비밀번호 확인">
            </div>
            <div class="col-auto">
                <span>
                    <button id="btn-update-password" type="button" class="btn btn-primary">변경</button>
                </span>
            </div>
        </div>
    </div>
    <br><br>

    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp친구 설정</p>
    <br>
    <div style="display: flex;flex-wrap: wrap; width: 580px;height: auto;margin:0 auto;justify-content: center;align-items: center;">
        <div th:each="link : ${linkList}">
        <div th:style="${link.getPermit() ? 'width: 125px;height: auto;border: 4px solid black; border-radius: 20%;margin: 10px' :
        'background-color:lightgray; filter: grayscale(100%); width: 125px;height: auto;border: 4px solid black; border-radius: 20%;margin: 10px'}"
             data-bs-toggle="modal" data-bs-target="#profile-edit" th:value="${link.getId()}" class="link">
            <img id="myProfile1" style="width: 100%;height: 100%; padding:5px;"
                th:src="'/image/profile-icon/' + ${link.getPicture()}+ '.png'" th:value="${link.getPicture()}">
        </div>
        <h2 style="text-align: center;margin-top: 10px; font-size: 30px;" th:text="${link.getNickname()}">닉네임</h2>
        </div>

        <button type="button" class="myPageBtnImage " id="img_btn" data-bs-target="#connect"
                data-bs-toggle="modal" style="background: none;height: 50px">
            <img class="myPagebtnImage2" src="/image/plusbutton.png">
        </button>
    </div>

    <br><br>

    <hr class="myPageHr">
    <p class="myPageHead">&nbsp&nbsp알림 설정</p>
    <br>
    <div class="myPageIndiv3">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="vibrationCheckbox"
                   th:field="*{member.vibration}">
            <label class="form-check-label" for="vibrationCheckbox" style="font-weight:bolder">진동 모드 (어플 전용)</label>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="pushAlarmCheckbox"
                   th:field="*{member.pushAlarms}">
            <label class="form-check-label" for="pushAlarmCheckbox" style="font-weight:bolder">푸쉬 알림</label>
        </div>
        <div class=" form-check form-switch">
            <input class="form-check-input " type="checkbox" role="switch" id="replenishAlarmsCheckbox"
                   th:field="*{member.replenishAlarms}">
            <label class="form-check-label" for="replenishAlarmsCheckbox" style="font-weight:bolder">보충 약 알림</label>
        </div>
        <div class=" form-check form-switch">
            <input class="form-check-input " type="checkbox" role="switch" id="s4_1"
                   th:checked="${member.getWorkAlarms != null}" onclick="isChecked()">

            <label class="form-check-label " for="s4_1" style="font-weight:bolder">출근 시 알림</label>
        </div>
        <div id="workTimeDiv" style="text-align: right; display: none" class="row g-3">
            <div class="col-md-4" style="padding-left: 0px">
                <label for="workTime" class="col-form-label" style="padding-right: 3em">└ 출근 시간</label>
            </div>
            <div class="col-md-6">
                <input type="time" id="workTime" class="form-control"
                       th:value="${#temporals.format(member.getWorkAlarms(), 'hh:mm')}">
            </div>
        </div>
    </div>

    <div class="myPageIndiv4">
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary btn-lg" id="liveToastBtn">저장하기</button>

            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="/image/testBtn1.png" class="rounded me-2" alt="...">
                        <strong class="me-auto myPageToastText">약 쏙</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body myPageToastText">
                        정상적으로 정보가 저장됐습니다.<br>
                        3초후 자동 이동합니다.
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- 친구 추가 -->
<div class="portfolio-modal modal fade" id="connect" tabindex="-1" aria-labelledby="connect"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- 타이틀 -->
                            <h1 class="text-dark text-uppercase mb-0" style="font-weight: 600;">친구 연동</h1>
                            <br>
                            <h5>함께 연동할 다른 사용자를 등록하시려면 프로필을 추가하세요.</h5>
                            <br>
                            <form id="form" name="form" method="post" target="iframe1"
                                  class="row g-3 align-items-center needs-validation" novalidate>
                                <div class="col-auto">
                                    <label for="connectEmail" class="col-form-label" style="padding-right: 3em">친구
                                        이메일</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="email" id="connectEmail" class="form-control"
                                           style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                           placeholder="&#xf0e0; 이메일*">
                                    <div class="invalid-feedback">
                                        이메일 형식으로 입력해야 합니다.
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" id="emailSubmit">요청 보내기</button>
                                </div>
                            </form>
                            <hr>
                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="connectName" class="col-form-label" style="padding-right: 3em">친구
                                        닉네임</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" id="connectName" class="form-control"
                                           style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                           placeholder="&#xf500; 친구 닉네임*">
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 프로필 변경 -->
<div class="portfolio-modal modal fade" id="profile-change" tabindex="-1" aria-labelledby="profile-change"
     aria-hidden="true">
    <div class="modal-dialog" style="max-width: 1000px">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- 타이틀 -->
                            <h1 class="text-dark text-uppercase mb-0" style="font-weight: 600;">프로필 선택</h1>
                            <br>

                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <div class="row g-3 align-items-center">
                                    <!--남자 프로필 1~13-->
                                    <div class="col-sm-2" style="width: 20%" th:each="num : ${#numbers.sequence(1,13)}">
                                        <input type="radio" class="btn-check" name="profile-check"
                                               th:id="manIcon + ${num}" th:value="man+${num}" autocomplete="off"
                                               style="opacity: 0;">
                                        <label class="btn btn-outline-primary" th:for="manIcon + ${num}"
                                               style=" border-radius: 20%;">
                                            <img style="width: 100px;height: 100px;border: 1px solid black; padding:5px; border-radius: 20%;"
                                                 th:src="'/image/profile-icon/man' + ${num} + '.png'">
                                        </label>
                                    </div>

                                    <!--여자 프로필 1~13-->
                                    <div class="col-sm-2" style="width: 20%" th:each="num : ${#numbers.sequence(1,12)}">
                                        <input type="radio" class="btn-check" name="profile-check"
                                               th:id="girlIcon + ${num}" th:value="girl+${num}" autocomplete="off"
                                               style="opacity: 0;">
                                        <label class="btn btn-outline-primary" th:for="girlIcon + ${num}"
                                               style=" border-radius: 20%;">
                                            <img style="width: 100px;height: 100px;border: 1px solid black; padding:5px; border-radius: 20%;"
                                                 th:src="'/image/profile-icon/girl' + ${num} + '.png'">
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <br><br><br>
                            <button id="addbtn" class="btn btn-primary" data-bs-dismiss="modal" onclick="changeImg()"
                                    style="width: 90px">
                                선택
                            </button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" style="width: 90px">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 친구 연동 수정 -->
<div class="portfolio-modal modal fade" id="profile-edit" tabindex="-1" aria-labelledby="profile-edit"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- 타이틀 -->
                            <h1 class="text-dark text-uppercase mb-0" style="font-weight: 600;">친구 연동 수정</h1>
                            <br>
                            <div id = "profile-text" style="width:100%;margin-top: 0.1rem; font-size: 17px;color:#dc3545">
                                연동 수락 대기 중입니다.
                            </div>
                            <br>
                            <div class="row g-3 align-items-center">
                                <div class="col-md-4">
                                    <label for="profile-email" class="col-form-label"
                                           style="padding-right: 3em">친구 이메일</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="profile-email" class="form-control" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row g-3 align-items-center">
                                <div class="col-md-4">
                                    <label for="profile-nickname" class="col-form-label"
                                           style="padding-right: 3em">친구 닉네임</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" id="profile-nickname" class="form-control">
                                </div>
                            </div>
                            <br><br>

                            <button id="editaddbtn" class="btn btn-primary btn-edit"
                                    style="width: 90px">
                                <i class="fa-solid fa-pen"></i>
                                수정
                            </button>
                            <button id="deletebtn" class="btn btn-danger" data-bs-dismiss="modal" style="width: 90px">
                                <i class="fas fa-xmark fa-fw"></i>
                                삭제
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe1" name="iframe1" style="display:none"></iframe>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/member.js"></script>
<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>

<script>
    window.onload = isChecked();

    function isChecked() {
        if ($('#s4_1').is(":checked")) {
            $('#workTimeDiv').show();
        } else {
            $('#workTimeDiv').hide();
        }
    }

    function changeImg() {
        var listVar = $('input[name=profile-check]:checked').val();

        document.getElementById("myProfile").src = "/image/profile-icon/" + listVar + ".png";
    }

    (function () {
        'use strict'
        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')

                }, false)
            })
    })()
</script>
</body>
</html>