<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FullCalendar Example</title>

    <link rel="stylesheet" href="/vendor/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href='/vendor/css/select2.min.css' />
    <link rel="stylesheet" href='/vendor/css/bootstrap-datetimepicker.min.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600">
    <link rel="stylesheet" href="/css/calmain.css">

</head>

<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="mainText">복용현황</p>
<p class="mainSubText">우리 가족 다같이, 건강하게 쏙</p>
<div class="mediStatDiv">
    <img src="/image/human-icon1.png" class="rounded myPageImage" alt="...">
    <img src="/image/human-icon1.png" class="rounded myPageImage" alt="...">
    <img src="/image/human-icon1.png" class="rounded myPageImage" alt="...">
    <button type="button" class="myPageBtnImage " id="img_btn"><img class="myPagebtnImage2" src="/image/plusbutton.png"></button>
</div>
<div class="mediCalDiv">
    <div class="container">

        <!-- 일자 클릭시 메뉴오픈 -->
        <div id="contextMenu" class="dropdown clearfix">
            <ul class="dropdown-menu dropNewEvent" role="menu" aria-labelledby="dropdownMenu"
                style="display:block;position:static;margin-bottom:5px;">
                <li><a tabindex="-1" href="#">카테고리1</a></li>
                <li><a tabindex="-1" href="#">카테고리2</a></li>
                <li><a tabindex="-1" href="#">카테고리3</a></li>
                <li><a tabindex="-1" href="#">카테고리4</a></li>
                <li class="divider"></li>
                <li><a tabindex="-2" href="#" data-role="close">Close</a></li>
            </ul>
        </div>

        <div id="wrapper">
            <div id="loading"></div>
            <div id="calendar"></div>
        </div>


        <!-- 일정 추가 MODAL -->
        <div class="modal fade" tabindex="-1" role="dialog" id="eventModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-xs-4" for="edit-title">일정명</label>
                                <input class="inputModal" type="text" name="edit-title" id="edit-title"
                                       required="required" />
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-xs-4" for="edit-start">시작</label>
                                <input class="inputModal" type="text" name="edit-start" id="edit-start">
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-xs-4">복용여부</label>
                                <button class="inputModal" type="button" name="color" onclick="test();" id="edit-color" value="#d25565" style="background: #d25565;color: #ffffff">안먹었어요</button>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-xs-12">
                                <label class="col-xs-4" for="edit-desc">설명</label>
                                <textarea rows="4" cols="50" class="inputModal" name="edit-desc"
                                          id="edit-desc"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modalBtnContainer-addEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="save-event">저장</button>
                    </div>
                    <div class="modal-footer modalBtnContainer-modifyEvent">
                        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-danger" id="deleteEvent">삭제</button>
                        <button type="button" class="btn btn-primary" id="updateEvent">저장</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div><!-- /.container -->
</div>


<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>
<!-- 캘린더 JS -->
<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/moment.min.js"></script>
<script src="/vendor/js/fullcalendar.min.js"></script>
<script src="/vendor/js/ko.js"></script>
<script src="/vendor/js/select2.min.js"></script>
<script src="/vendor/js/bootstrap-datetimepicker.min.js"></script>
<script src="/caljs/main.js"></script>
<script src="/caljs/addEvent.js"></script>
<script src="/caljs/editEvent.js"></script>
<script src="/caljs/etcSetting.js"></script>

<script>
    const element2 = document.getElementById('edit-color')
    function test() {
        if ($('#edit-color').val() == '#D25565') {
            element2.value = '#2bad00';
            element2.style.backgroundColor = '#2bad00';
            element2.innerText = '먹었어요';
        } else {
            element2.value = '#D25565';
            element2.style.backgroundColor = '#D25565';
            element2.innerText = '안먹었어요';
        }
    }
</script>

</body>
</html>