@charset "UTF-8";
/*ㅡㅡㅡㅡㅡㅡㅡㅡ CTRL + F 를 사용해서 원하는 페이지를 검색하세요 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ index CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.cbox {
    width: 20px;
    height: 20px;
    border-color: #ffffff;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    height: auto;
}
.stepper {
    border: 1px solid #eee;
    display: inline-block;
    overflow: visible;
    height: 2.1em;
    background: #fff;
    padding: 1px;
}
.stepper input {
    width: 69px;
    height: 100%;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
}
.stepper button {
    width: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 0.1em;
    font-size: 1.4em;
    padding: 0.2em !important;
    background: #eee;
    color: #333;
    border: none;
}
.stepper2 {
    border: 1px solid #eee;
    display: inline-block;
    overflow: visible;
    height: 2.1em;
    background: #fff;
    padding: 1px;
}
.stepper2 input {
    width: 69px;
    height: 100%;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
}
.stepper2 button {
    width: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 0.1em;
    font-size: 1.4em;
    padding: 0.2em !important;
    background: #eee;
    color: #333;
    border: none;
}
.editstepper {
    border: 1px solid #eee;
    display: inline-block;
    overflow: visible;
    height: 2.1em;
    background: #fff;
    padding: 1px;
}
.editstepper input {
    width: 69px;
    height: 100%;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
}
.editstepper button {
    width: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 0.1em;
    font-size: 1.4em;
    padding: 0.2em !important;
    background: #eee;
    color: #333;
    border: none;
}
.editstepper2 {
    border: 1px solid #eee;
    display: inline-block;
    overflow: visible;
    height: 2.1em;
    background: #fff;
    padding: 1px;
}
.editstepper2 input {
    width: 69px;
    height: 100%;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
}
.editstepper2 button {
    width: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 0.1em;
    font-size: 1.4em;
    padding: 0.2em !important;
    background: #eee;
    color: #333;
    border: none;
}
.bellstepper {
    border: 1px solid #eee;
    display: inline-block;
    overflow: visible;
    height: 2.1em;
    background: #fff;
    padding: 1px;
}
.bellstepper input {
    width: 69px;
    height: 100%;
    text-align: center;
    border: 0;
    background: transparent;
    color: #000;
}
.bellstepper button {
    width: 40px;
    font-weight: 300;
    height: 100%;
    line-height: 0.1em;
    font-size: 1.4em;
    padding: 0.2em !important;
    background: #eee;
    color: #333;
    border: none;
}
.mainpad{
    padding-left:380px;
    padding-right:380px;
}
.mainIcon{
    font-size:40px;
    width:120px;
}
.mainCon{/* 사진크기 900x600 */
    width: 1200px;
    margin: auto;
    border-width: 1px;
    outline: solid;
    position: relative;
    border: solid #dee2e6;
    border-width: 1px 0 0;

}
.mainMidnav{
    justify-content : center;
}
.midBtn{
    padding-right:40px;
    padding-left:40px;
    font-size: 20px;
}
.mainText{
    padding-top: 80px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
}
.mainSubText{
    top: 130px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #000000;
}
.mainImg{
    border-radius: 30px;
}
.txt_box{
    height: 40vw;
    text-align: center; /*센터 맞춤 속성*/
    line-height: 40vw; /*센터 맞춤 속성*/
}

.txt{
    display: inline-block; /*센터 맞춤 속성*/
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
    font-size: 24px;
}
.main_box{
    height: 32vw;
    text-align: center; /*센터 맞춤 속성*/

}

.main{
    height: 430px;
    width: 720px;
    outline : solid;
    border-radius: 30px;
    display: inline-block; /*센터 맞춤 속성*/
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.mainMenuImg{
    border-radius: 0px 30px 30px 0px;
    float: right;
}
.mainMenuImg2{
    border-radius: 30px 0px 0px 30px;
    float: left;
}
.subDiv{
    margin-top: 3vw;
    display: inline-block; /*센터 맞춤 속성*/
    align-items: center;
    justify-content : center;
}
.subTextName{
    font-size: 40px;
   font-weight: 530;
}
.subTextSub{
    font-size: 20px;

}
.subTextSub2{
    font-size: 15px;

}
/*

.container2 {
    width: 350px;
    height: 380px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #DBDBDB;
}
img.logo_instagram {
    align-self: center;
    width: 175px;
    margin: 35px 0;
}
.input_login {
    width: 270px;
    height: 40px;
    margin: 3px auto;
    padding: 0 10px;
    display: block;
    background-color: #fafafa;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    font-size: 14px;
}
.input_login::placeholder {
    font-size: 12px;
    color: #8e8e8e;
}
.input_login:focus {
    border: 1px solid #8a8a8a;
    outline: none;
}
#btn_login {
    width: 268px;
    height: 30px;
    margin: 13px auto;
    background-color: #0095f6;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
#btn_login:disabled {
    background-color: #B9DFFC;
}
#btn_login:disabled:hover {
    cursor: default;
}
#btn_login:enabled:hover {
    cursor: pointer;
}
#btn_login:focus {
    outline: none;
}
a {
    cursor: default;
}
.button_forgot {
    color : #00366B;
    align-self: center;
    font-size: 12px;
    margin-top: 70px;
}
.button_forgot:hover {
    cursor: pointer;
}
* {
    box-sizing: border-box;
    font-family: 'helvetica neue', 'Apple SD Gothic Neo', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #fafafa;
    padding: 0;
    margin: 0;
}
p, span {
    font-size: 14px;
}
*/
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ myMediCase CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.myMediCaseDiv{
    width: 1060px;
    height: 1300px;
    background:url("../image/mediCase/medi.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
    text-align: center;
    overflow: hidden;
}

.portfolio .portfolio-item {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    overflow: hidden;
}
.portfolio .portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    border-radius: 70%;
    background-color: rgba(26, 188, 156, 0.9);
}
.portfolio .portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}
.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
}

.portfolio-modal .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
}
.portfolio-modal .portfolio-modal-title {
    font-size: 2.25rem;
    line-height: 2rem;
}
@media (min-width: 992px) {
    .portfolio-modal .portfolio-modal-title {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.ctrl {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #D5DCE6;
    background-color: #fff;
    border-radius: 5px;
    font-size: 30px;
}
.ctrl__counter {
    position: relative;
    width: 200px;
    height: 40px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
}
.ctrl__counter.is-input .ctrl__counter-num {
    visability: hidden;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}
.ctrl__counter.is-input .ctrl__counter-input {
    visability: visible;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}
.ctrl__counter-input {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    visability: hidden;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}
.ctrl__button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #8498a7;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
}
.ctrl__button:hover {
    background-color: #90a2b0;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
}
.ctrl__button:active {
    background-color: #778996;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
}
.ctrl__button--decrement { border-radius: 5px 0 0 5px; }
.ctrl__button--increment { border-radius: 0 5px 5px 0; }
.ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 40px;
    visability: visible;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}
.ctrl__counter-num.is-increment-hide {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-animation: increment-prev 100ms ease-in;
    animation: increment-prev 100ms ease-in;
}
.ctrl__counter-num.is-increment-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: increment-next 100ms ease-out;
    animation: increment-next 100ms ease-out;
}
.ctrl__counter-num.is-decrement-hide {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-animation: decrement-prev 100ms ease-in;
    animation: decrement-prev 100ms ease-in;
}
.ctrl__counter-num.is-decrement-visible {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: decrement-next 100ms ease-out;
    animation: decrement-next 100ms ease-out;
}
@-webkit-keyframes
decrement-prev {  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@keyframes
decrement-prev {  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@-webkit-keyframes
decrement-next {  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
}
@keyframes
decrement-next {  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
}
}
@-webkit-keyframes
increment-prev {  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@keyframes
increment-prev {  from {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}
@-webkit-keyframes
increment-next {  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
}
@keyframes
increment-next {  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
}
}
.boxdiv{
    width: 1148px;
    height: 680px;
    margin: 0 auto;

    text-align: center;
    vertical-align: middle;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ mediBell CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.mediBellDiv{
    width: 1060px;
    height: 1200px;
    margin: 0 auto;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
}
.mediBellDiv2{
    width: 1380px;
    margin: 0 auto;
    padding-bottom: 100px;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.portfolio2 .portfolio-item2 {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 25rem;
    overflow: hidden;
}
.portfolio2 .portfolio-item2 .portfolio-item2-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(26, 188, 156, 0.9);
}
.portfolio2 .portfolio-item2 .portfolio-item2-caption:hover {
    opacity: 1;
}
.portfolio2 .portfolio-item2 .portfolio-item2-caption .portfolio-item2-caption-content {
    font-size: 1.5rem;
}

.portfolio-modal2 .btn-close {
    color: #1abc9c;
    font-size: 2rem;
    padding: 1rem;
}
.portfolio-modal2 .portfolio-modal2-title {
    font-size: 2.25rem;
    line-height: 2rem;
}
@media (min-width: 992px) {
    .portfolio-modal2 .portfolio-modal2-title {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ myPage CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.myPageText{
    padding-top: 80px;
    padding-bottom: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #000000;
}
.myPage{
    height: 800px;
    width: 720px;
    margin: 0 auto;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.myPageHr{
    border: solid 2px BLACK;
    opacity: unset;
}
.myPageHead{
    font-size: 20px;
    font-weight: 600;
}

.myPageIndiv{
    height: 340px;
    width: 500px;
    margin-left: 65px;
    margin-right: 0px;
    text-align: center;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.myPageIndiv2{
    height: 225px;
    width: 580px;
    margin: 0 auto;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.myPageIndiv3{
    height: 270px;
    width: 580px;
    margin: 0 auto;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.myPageIndiv4{
    height: 270px;
    width: 580px;
    margin: 0 auto;
    margin-top: 50px;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.myPageInText{
    font-size: 18px;
}
.myPageInSwitch{
    height: 20px;
}
.form-check-label{
    margin-top: 12px;
}
.myPageImage{
    width: 150px;
    height: 150px;
}
.myPagebtnImage2{
    width: 50px;
    height: 50px;
}
.myPageBtnImage{
    background: #f8f9fa;
    border: 0;
}
.myPageLastBtn{
    align-content: center;
}
.myPageToastText{
    font-size:24px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ mediSearch CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.mediSearchDiv{
    width: 1260px;
    margin: 0 auto;

    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.testDiv{
    height: 300px;
    text-align: center;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
.tesDiv{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ mediStat CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.mediStatDiv{
    width: 1260px;
    margin: 0 auto;
    margin-top: 10px;
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
    text-align: center;
}
.mediCalDiv{
    height: 800px;
    width: 1260px;
    margin: 0 auto;
    border: 1px solid #000000;
    margin-bottom: 200px;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ calendar CSS ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.sec_cal {
    width: 1060px;
    margin: 0 auto;
    font-family: "NotoSansR";
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 78px;
}

.sec_cal .cal_nav .year-month {
    width: 300px;
    text-align: center;
    line-height: 1;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev,
.sec_cal .cal_nav .go-next {
    display: block;
    width: 50px;
    height: 78px;
    font-size: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec_cal .cal_nav .go-prev::before,
.sec_cal .cal_nav .go-next::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-width: 3px 3px 0 0;
    transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before,
.sec_cal .cal_nav .go-next:hover::before {
    border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
    transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
    transform: rotate(45deg);
}

.sec_cal .cal_wrap {
    padding-top: 40px;
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .day {
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 7);
    text-align: left;
    color: #999;
    font-size: 12px;
    text-align: center;
    border-radius:5px
}

.current.today {background: rgb(242 242 242);}

.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
}

.sec_cal .cal_wrap .day:nth-child(7n -1) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
    color: #ed2a61;
}

.sec_cal .cal_wrap .day.disable {
    color: #ddd;
}

.t{
    vertical-align: middle;
}