<!DOCTYPE html>

<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>

    <!-- bootstrap, custom css 링크 -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid mainpad">
        <a class="navbar-brand mainIcon" href="/">
            <img src="image/mainMedi.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
            약 쏙
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mainMidnav">
            <ul class="navbar-nav">
                <li class="nav-item midBtn">
                    <a class="nav-link" aria-current="page" href="/myMediCase">내 알약</a>
                </li>
                <li class="nav-item midBtn">
                    <a class="nav-link" href="/myMedi_stat">복용 현황</a>
                </li>
                <li class="nav-item midBtn">
                    <a class="nav-link" href="#">알약 검색</a>
                </li>
                <li class="nav-item midBtn">
                    <a class="nav-link" href="#">알람 설정</a>
                </li>
            </ul>
        </div>
        <a class="navbar-brand" href="/login">
            <img src="image/human-icon.png"  alt="" width="50" height="50">
        </a>
    </div>
</nav>

<p class="mainText">약   쏙</p>
<p class="mainSubText">약과 나의 약속, 시간에 맞춰 쏙</p>

<div class="text-center">
    <img src="image/mainImg.png" class="mainImg" alt="...">
</div>

<div class="txt_box">
    <div class="txt">
        어머니, 어제는 약 잘 챙겨 드셨어요?<br>
        아버지, 오늘도 출근전에 약 잊지마세요.<br>
        할머니, 내일엔 이 약을 꼭 드셔야해요!<br>
        <br>
        당신과 소중한 분들의 약 복용 현황📆<br>
        집에서 나가기전 휴대약 확인📢<br>
        헷갈리는 약들의 복용법, 주의점 등. 약 정보 조회⚠<br>
        지정한 시간에 울리는 복용 알람까지!⏰<br>
        <br>
        우리 가족모두 쉽게 사용하는 '약'속 지키미<br>
        저 약쏙이가 도와드릴게요.<br>
        <br>
        저와의 중요한 약속. 걱정마세요😆<br>
    </div>
</div>

<div class="main_box">
    <div class="main">
        <img src="image/main_menu_img.png" class ="mainMenuImg" alt="...">
        <div class="subDiv">
            <p class="subTextName">약쏙 사용설명서</p><br>
            <p class="subTextSub">User's Guide</p><br>
            <p>가나다라마바사 가나다라마바사 가나다<br>
            사용설명서 어쩌구 저쩌구<br>
            이러쿵 저러쿵 궁시렁 궁시렁<br>
            동해물과 백두산 이러쿵 저러쿵 가나다<br>
            몰라 몰라 사용 설명서 페이지 몰라</p><br><br><br><br>
            <p>#약쏙 #사용설명서</p>
        </div>
    </div>
</div>

<div class="main_box">
    <div class="main">
        <img src="image/main_menu_img.png" class ="mainMenuImg2" alt="...">
        <div class="subDiv">
            <p class="subTextName">약쏙 사용설명서</p><br>
            <p class="subTextSub">User's Guide</p><br>
            <p>가나다라마바사 가나다라마바사 가나다<br>
                사용설명서 어쩌구 저쩌구<br>
                이러쿵 저러쿵 궁시렁 궁시렁<br>
                동해물과 백두산 이러쿵 저러쿵 가나다<br>
                몰라 몰라 사용 설명서 페이지 몰라</p><br><br><br><br>
            <p>#약쏙 #사용설명서</p>
        </div>
    </div>
</div>

<div class="main_box">
    <div class="main">
        <img src="image/main_menu_img.png" class ="mainMenuImg" alt="...">
        <div class="subDiv">
            <p class="subTextName">약쏙 사용설명서</p><br>
            <p class="subTextSub">User's Guide</p><br>
            <p>가나다라마바사 가나다라마바사 가나다<br>
                사용설명서 어쩌구 저쩌구<br>
                이러쿵 저러쿵 궁시렁 궁시렁<br>
                동해물과 백두산 이러쿵 저러쿵 가나다<br>
                몰라 몰라 사용 설명서 페이지 몰라</p><br><br><br><br>
            <p>#약쏙 #사용설명서</p>
        </div>
    </div>
</div>

<div class="main_box">
    <div class="main">
        <img src="image/main_menu_img.png" class ="mainMenuImg2" alt="...">
        <div class="subDiv">
            <p class="subTextName">약쏙 사용설명서</p><br>
            <p class="subTextSub">User's Guide</p><br>
            <p>가나다라마바사 가나다라마바사 가나다<br>
                사용설명서 어쩌구 저쩌구<br>
                이러쿵 저러쿵 궁시렁 궁시렁<br>
                동해물과 백두산 이러쿵 저러쿵 가나다<br>
                몰라 몰라 사용 설명서 페이지 몰라</p><br><br><br><br>
            <p>#약쏙 #사용설명서</p>
        </div>
    </div>
</div>

<!-- bootstrp js 링크 -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>