<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>login</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" href="img/favicon.png">
    <link rel="instagram-icon" href="img/favicon.png">

</head>
<body>
<div class="container2">
    <br> <h3>　　　　　　약쏙 </h3><br>
    <!--요 부분 글씨 중앙정렬 배치 수정해야함 -->

    <input type="text" class="input_login" name="userID" id="userID" placeholder="사용자 아이디 혹은 이메일">
    <input type="password" class="input_login" name="userPW" id="userPW" placeholder="비밀번호">
    <a href="/"><button id="btn_login" >로그인</button></a>
    <span class="button_forgot">비밀번호를 잊으셨나요?</span>
</div>
<script src="js/login.js"></script>
</body>
</html>