<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Forgot Password</title>

    <!-- Custom fonts for this template-->
    <!-- fontawesome-free 파일 설치해서 넣었는데 적용안됨, 그래서 직접 링크함-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/loginCssJs/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
<div th:replace="/navbar/navBar2 :: navBar2"/>
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block">
                            <img src="/image/loginImg.png" style="width: 100%;height: 100%">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">비밀번호를 잊어 버렸습니까?</h1>
                                    <p class="mb-4">무슨일이 생기셨군요?<br>아래에 이메일 주소를 입력하면<br>임시 비밀번호가 전송됩니다!</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" id="userEmail" name="userEmail" class="form-control form-control-user" required placeholder="가입시 등록한 이메일을 입력하세요.">
<!--                                        <input type="text" id="userNickname" name="userNickname" class="form-control form-control-user" required placeholder="가입시 등록한 닉네임을 입력하세요.">-->
                                    </div>
<!--                                    <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>-->
                                    <button type="button" class="btn btn-primary btn-user btn-block" id="checkEmail" name="checkEmail">비밀번호 발송</button>
<!--                                    <a href="/user/login" class="btn btn-primary btn-user btn-block">-->
<!--                                        비밀번호 초기화-->
<!--                                    </a>-->
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/user/signup}">계정을 만드세요!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/user/login}">이미 계정이 있으십니까? 로그인!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="/loginCssJs/jquery/jquery.min.js"></script>
<script src="/loginCssJs/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/loginCssJs/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/loginCssJs/sb-admin-2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- 패스워드 찾는 자바스크립트 경로 -->
<script src="/member.js"></script>
<!-- 알람시계 js -->
<script src="/js/clock.js"></script>
</body>
</html>