<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>회원가입</title>
    <link rel="icon" href="/image/favicon.png" sizes="128x128">


    <!-- Custom fonts for this template-->
    <!-- fontawesome-free 파일 설치해서 넣었는데 적용안됨, 그래서 직접 링크함-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/loginCssJs/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">
<div th:replace="/navbar/navBar2 :: navBar2"/>
<form th:action="@{/user/signupProc}" method="post" modelAttribute="memberDto">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block">
                        <img src="/image/loginImg.png" style="width: 100%;height: 100%">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">약쏙 계정 만들기</h1>
                            </div>
                            <form class="user">
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputEmail" style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                           maxlength="20" name="email" placeholder="&#xf0e0; 이메일 주소*">
                                    <span th:text="${valid_email}" style="font-size: 13px; color: #ff0000" ></span>
<!--                                    <span th:if="${valid_email}">-->
<!--                                           <p id="valid" th:text="${valid_email}"></p>-->
<!--                                    </span>-->
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                             id="exampleInputPassword" maxlength="20" name = "password" placeholder="&#xf023; 비밀번호*">
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                               id="exampleInputPassword" minlength="6" maxlength="20" name = "password" placeholder="비밀번호">-->
                                        <span th:text="${valid_password}" style="font-size: 13px; color: #ff0000"></span>
                                    </div>
<!--                                    <span th:if="${valid_email}">-->
<!--                                           <p id="valid" th:text="${valid_email}"></p>-->
<!--                                    </span>-->
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                               id="confirm_Password" maxlength="20" name="confirm_Password" placeholder="&#xf09c; 비밀번호 재입력*">
<!--                                        <input type="password" class="form-control form-control-user"-->
<!--                                               id="confirm_Password" minlength="6" maxlength="20" name="confirm_Password" placeholder="비밀번호 재입력">-->
                                        <span th:text="${valid_confirm_Password}" style="font-size: 13px; color: #ff0000"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="nickname" style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                               maxlength="6" name="nickname" placeholder="&#xf303; 닉네임*">
                                        <span th:text="${valid_nickname}" style="font-size: 13px; color: #ff0000"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="phone" style="font-family: 'Font Awesome 5 Free';font-weight: 550;"
                                               maxlength="11" name="phone" placeholder="&#xf095; 전화번호"><!--&#xf2b9;-->
                                        <span th:text="${valid_phone}" style="font-size: 13px; color: #ff0000"></span>
                                    </div>
                                </div>
                                <span th:if="${error}">
                                    <p id="valid" th:text="${error}" class="alert alert-danger"></p>
                                </span>
                                <input type="submit" value="가입하기" class="btn btn-primary btn-user btn-block">
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" th:href="@{/user/forgot}">비밀번호를 잊으셨나요?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" th:href="@{/user/login}">이미 계정이 있으십니까? 로그인!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/loginCssJs/jquery/jquery.min.js"></script>
    <script src="/loginCssJs/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/loginCssJs/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/loginCssJs/sb-admin-2.min.js"></script>

    <!-- 알람시계 js -->
    <script src="/js/clock.js"></script>
</form>
</body>
</html>