<!DOCTYPE html>

<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      style="margin-bottom: 100px">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <!-- bootstrap, custom css 링크 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <!-- fontawesome-free 파일 설치해서 넣었는데 적용안됨, 그래서 직접 링크함-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>

    <style type="text/css">
        .btn {

            display: inline-block;
            padding: 10px;
            position: relative;
            text-align: center;
            transition: background 600ms ease, color 600ms ease;
        }

        input[type=radio].toggle {
            display: none;
        }

        input[type=radio].toggle + label {
            cursor: pointer;
            text-align: center;
            width: 197px;
        }

        input[type=radio].toggle + label:hover {
            background: none;
            color: #000000;
        }

        input[type=radio].toggle + label:after {
            background: #6F6FFF;
            content: "";
            height: 100%;
            position: absolute;
            top: 0;
            transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
            width: 100%;
            z-index: -1;
        }

        input[type=radio].toggle.toggle-left + label {
            border-right: 0;
        }

        input[type=radio].toggle.toggle-left + label:after {
            left: 100%;
        }

        input[type=radio].toggle.toggle-right + label {
            margin-left: -5px;
        }

        input[type=radio].toggle.toggle-right + label:after {
            left: -100%;
        }

        input[type=radio].toggle:checked + label {
            cursor: default;
            color: #fff;
            transition: color 200ms;
        }

        input[type=radio].toggle:checked + label:after {
            left: 0;
        }

    </style>

</head>

<body>
<div th:replace="navbar/navBar :: navBar"/>
<div style="text-align: center; padding-top: 80px;line-height: 77px;">
    <p style="display:inline" class="mainText" th:text="${member} + '님의 '">
    <p id="today" style="display:inline" class="mainText"></p>
    <p class="mainSubText">오늘도 잊지말고 꼭 드셔주세요.</p>
</div>

<div style="text-align: center">
    <button type="button" onclick="plusbtn" class="btn btn-secondary" style="width: 300px;height: 60px">
        <div>
            <div data-bs-toggle="modal" data-bs-target="#plusbtn" id="schedulePlus">
                <i class="fas fa-plus fa-2x"></i>
            </div>
        </div>
    </button>
</div>

<br>

<div class="mediBellDiv2">
    <table id="belltable" class="table table-bordered border-secondary" style="width: 401px;float: left;
            margin: 20px" th:each="alarms : ${alarm}">
        <tbody>
        <tr>
            <th class="table-active" valign="middle">
                <div>
                    <div>
                        <i class="fas fa-stopwatch fa-aw fa-2x"
                           style="position: absolute;line-height: 1.4;margin-left: 10px"></i>
                    </div>
                    <div>
                        <span style="font-size: 20px; position: absolute;line-height: 2.5;margin-left: 50px"
                              th:text="${alarms.getTimeUpdate()}">아침 식후 30분</span>
                    </div>
                    <div style="text-align: right">
                        <button style="background: none;border: none;width: 40px;font-size:20px;" class="alarmBtn"
                                th:id="|btn${alarms.getId()}|" th:value="${alarms.getId()}">
                            <i th:id="|img${alarms.getId()}|" th:if="${alarms.getAlarmCheck() == true}" class="fas fa-bell fa-aw fa-lg" style="line-height: 1.6"></i>
                            <i th:id="|img${alarms.getId()}|" th:if="${alarms.getAlarmCheck() == false}" class="far fa-bell fa-aw fa-lg" style="line-height: 1.6"></i>
                        </button>
                        <button class="alarm-getID"
                                style="border: none; background: #e5e5e5;width: 40px; font-size:20px;"
                                th:value="${alarms.getId()}">
                            <div data-bs-toggle="modal" data-bs-target="#belleditbtn">
                                <i class="fas fa-edit fa-aw fa-lg" style="line-height: 1.6"></i>
                            </div>
                        </button>
                        <button class="btn-delete"
                                style="border: none; background: #e5e5e5; width: 40px; font-size: 20px;"
                                th:value="${alarms.getId()}">
                            <i class="fas fa-times fa-aw fa-lg" style="line-height: 1.6"></i>
                        </button>
                    </div>
                </div>
            </th>
        </tr>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th class="table" valign="middle" style="height: 100px;font-size: 30px;padding: 15px;
                vertical-align: middle;text-align: center" th:text="${alarms.getMedicineBoxName()}">
                감기약
            </th>
        </tr>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th class="table-active" valign="middle" style="padding: 0px">
                <input th:id="|on-${alarms.getId()}|" class="toggle toggle-left eatBtn" th:name="|toggle${alarms.getId()}|"
                       value="false" type="radio" th:if="${alarms.getEatCheck() == false}" th:value="${alarms.getId()}" checked>
                <input th:id="|on-${alarms.getId()}|" class="toggle toggle-left eatBtn" th:name="|toggle${alarms.getId()}|"
                       value="false" type="radio" th:if="${alarms.getEatCheck() == true}" th:value="${alarms.getId()}">
                <label th:for="|on-${alarms.getId()}|" class="btn">안 먹었어요</label>
                <input th:id="|off-${alarms.getId()}|" class="toggle toggle-right eatBtn" th:name="|toggle${alarms.getId()}|"
                       value="true" type="radio" th:if="${alarms.getEatCheck() == true}" th:value="${alarms.getId()}" checked>
                <input th:id="|off-${alarms.getId()}|" class="toggle toggle-right eatBtn" th:name="|toggle${alarms.getId()}|"
                       value="true" type="radio" th:if="${alarms.getEatCheck() == false}" th:value="${alarms.getId()}">
                <label th:for="|off-${alarms.getId()}|" class="btn" >먹었어요</label>
            </th>
        </tr>
        </tbody>
    </table>
</div>
<div style="height: 200px;position:fixed;bottom: 0;">
</div>

</div>

<!-- 알람 추가 -->
<div class="portfolio-modal modal fade" id="plusbtn" tabindex="-1" aria-labelledby="plusbtn"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- 타이틀 -->
                            <h1 class="text-dark text-uppercase mb-0" style="font-weight: 600;">알람 추가하기</h1>

                            <br>
                            <div class="row g-3 align-items-center">
                                <div class="col-md-3">
                                    <label for="medicase" class="col-form-label"
                                           style="padding-right: 3em">약통선택</label>
                                </div>
                                <div class="col-md-9">
                                    <select id="medicase" class="form-select" aria-label="약통 선택하기">
                                        <option selected value="0">약통 선택하기</option>
                                        <option th:each="med : ${mediBoxs}" th:value="${med.getId()}"
                                                th:text="${med.getName()}">감기약
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <br>

                            <div class="row g-3 align-items-center">
                                <div class="col-md-3">
                                    <label for="startday" class="col-form-label"
                                           style="padding-right: 3.6em">시작일&nbsp</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="date" id="startday" class="form-control" placeholder="2022-06-24">
                                </div>
                            </div>
                            <br>

                            <div class="row g-3 align-items-center">
                                <div class="col-md-3">
                                    <label for="addTime" class="col-form-label"
                                           style="padding-right: 3em">알람시간</label>
                                </div>
                                <div class="col-md-9">
                                    <input type="time" id="addTime" class="form-control">
                                </div>
                            </div>
                            <br>

                            <div class="row g-3 align-items-center">
                                <div class="col-md-3">
                                    <label class="col-form-label" style="padding-right: 5em">주기</label>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-select" aria-label="Default select example" id="selectdayBtn"
                                            onchange="Change2();">
                                        <option value="0" selected>선택 없음</option>
                                        <option value="1">매일</option>
                                        <option value="2">특정 요일</option>
                                        <option value="3">일 간격</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <div id="sel1" style="visibility: hidden">
                                                <span class="stepper2">
                                                  <button>–</button>
                                                    <input type="number" id="stepper" value="1" min="0" max="365"
                                                           step="1" onchange="editCount2();">
                                                  <button>+</button>
                                                </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <select class="form-select" aria-label="Default select example" id="sel2"
                                            style="visibility: hidden">
                                        <option value="0" selected>일에 한번</option>
                                        <option value="1">주에 한번</option>
                                        <option value="2">개월에 한번</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                            <br>

                            <div class="row g-3 align-items-center">
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-7">
                                    <div id="sel3" style="font-size: 20px; visibility: hidden;">
                                        &nbsp;<input type='checkbox' id='addMon' value='0' class="cbox"
                                                     style="accent-color: red;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type='checkbox' id='addTue' value='1' class="cbox"
                                               style="accent-color: #d1721d;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type='checkbox' id='addWed' value='2' class="cbox"
                                               style="accent-color: #9a7928;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type='checkbox' id='addThu' value='3' class="cbox"
                                               style="accent-color: green;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type='checkbox' id='addFri' value='4' class="cbox"
                                               style="accent-color: #0d6efd"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type='checkbox' id='addSat' value='5' class="cbox"
                                               style="accent-color: darkblue;"/>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type='checkbox' id='addSun' value='6' class="cbox"
                                               style="accent-color: purple;"/><br>
                                        &nbsp;월&nbsp;&nbsp;&nbsp;&nbsp;
                                        화&nbsp;&nbsp;&nbsp;&nbsp;
                                        수&nbsp;&nbsp;&nbsp;&nbsp;
                                        목&nbsp;&nbsp;&nbsp;&nbsp;
                                        금&nbsp;&nbsp;&nbsp;&nbsp;
                                        토&nbsp;&nbsp;&nbsp;&nbsp;
                                        일
                                    </div>
                                </div>
                            </div>
                            <br><br><br>

                            <button id="addbtn" class="btn btn-primary" style="width: 90px">
                                추가
                            </button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" style="width: 90px">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 알람 수정 -->
<div class="portfolio-modal modal fade" id="belleditbtn" tabindex="-1" aria-labelledby="belleditbtn"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- 타이틀 -->
                            <h1 class="text-dark text-uppercase mb-0" style="font-weight: 600;">알람 수정하기</h1>
                            <br><br>

                            <div class="row g-3 align-items-center">
                                <div class="col-md-4">
                                    <label for="editaddTime" class="col-form-label"
                                           style="padding-right: 3em">알람시간</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="time" id="editaddTime" class="form-control">
                                </div>
                            </div>

                            <br><br><br>

                            <button id="editaddbtn" class="btn btn-primary btn-edit"
                                    style="width: 90px">
                                <i class="fas fa-pen"></i>
                                수정
                            </button>
                            <button class="btn btn-primary" data-bs-dismiss="modal" style="width: 90px">
                                취소
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: fixed;height: 100%;top: 45%;left: 30px">
    <button style="background: none;border: none" onclick="previousPage()">
        <i class="fas fa-angle-left fa-6x"></i>
    </button>
</div>
<div style="position: fixed;right: 0;height: 100%;top: 45%;right: 30px">
    <button style="background: none;border: none" onclick="nextPage()">
        <i class="fas fa-angle-right fa-6x"></i>
    </button>
</div>
<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/schedule.js"></script>

<script>
    var year
    var month
    var day
    var week
    var weekName = new Array('일', '월', '화', '수', '목', '금', '토')

    if (window.location.search == '') {
        date = new Date();
        year = date.getFullYear();
        month = date.getMonth() + 1;
        day = date.getDate();
        week = weekName[date.getDay()];
    } else {
        let query = window.location.search;
        let param = new URLSearchParams(query);

        let y = param.get('year');
        let m = param.get('month');
        let d = param.get('day');

        var today = new Date(y + '-' + m + '-' + d).getDay();

        year = y;
        month = m;
        day = d;
        week = weekName[today];
    }
    document.getElementById("today").innerHTML = month + "/" + day + "(" + week + ") 알람";

    function nextPage(){
        var now  = new Date(year + '-' + month + '-' + day);
        var tomorrow = new Date(now.setDate(now.getDate() + 1));
        window.location.href = "/medi/bell?year=" + tomorrow.getFullYear() + "&month=" + (tomorrow.getMonth() + 1) + "&day=" + tomorrow.getDate();
    }

    function previousPage(){
        var now  = new Date(year + '-' + month + '-' + day);
        console.log(now);
        var yesterday = new Date(now.setDate(now.getDate() - 1));
        window.location.href = "/medi/bell?year=" + yesterday.getFullYear() + "&month=" + (yesterday.getMonth() + 1) + "&day=" + yesterday.getDate();
    }




    function Change2() {
        var key2 = $('#selectdayBtn').val();
        if (key2 == 0) {
            document.all["sel1"].style.visibility = "hidden";
            document.all["sel2"].style.visibility = "hidden";
            document.all["sel2"].style.visibility = "hidden";
        } else if (key2 == 1) {
            document.all["sel1"].style.visibility = "hidden";
            document.all["sel2"].style.visibility = "hidden";
            document.all["sel3"].style.visibility = "hidden";
        } else if (key2 == 2) {
            document.all["sel1"].style.visibility = "hidden";
            document.all["sel2"].style.visibility = "hidden";
            document.all["sel3"].style.visibility = "visible";
        } else {
            document.all["sel1"].style.visibility = "visible";
            document.all["sel2"].style.visibility = "visible";
            document.all["sel3"].style.visibility = "hidden";
        }
    }

    var inc = document.getElementsByClassName("stepper2");
    for (i = 0; i < inc.length; i++) {
        var incI = inc[i].querySelector("input"),
            id = incI.getAttribute("id"),
            min = incI.getAttribute("min"),
            max = incI.getAttribute("max"),
            step = incI.getAttribute("step");
        document
            .getElementById(id)
            .previousElementSibling.setAttribute(
            "onclick",
            "stepperInput('" + id + "', -" + step + ", " + min + ")"
        );
        document
            .getElementById(id)
            .nextElementSibling.setAttribute(
            "onclick",
            "stepperInput('" + id + "', " + step + ", " + max + ")"
        );
    }

    function stepperInput(id, s, m) {
        var el = document.getElementById(id);
        if (s > 0) {
            if (parseInt(el.value) < m) {
                el.value = parseInt(el.value) + s;
            }
        } else {
            if (parseInt(el.value) > m) {
                el.value = parseInt(el.value) + s;
            }
        }
    }
</script>
</body>
</html>