<!DOCTYPE html>
<!-- 타임리프 사용 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>myPage</title>
    <!-- bootstrap, custom css 링크 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <style>
        .tevents:hover tbody tr:hover td {
            background: lightgray;
        }

        .btngroupMargin {
            margin: 10px;
        }
    </style>
</head>
<body>
<div th:replace="navbar/navBar :: navBar"/>
<p class="mainText">알약 검색</p>
<p class="mainSubText">궁금한 알약 찾아드릴게요</p>
<div class="mediSearchDiv" id="searchMainDiv">
    <table class="table table-bordered border-secondary">
        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th rowspan="2"  width="150" valign="middle" class="table-active">제품명/성분명</th>
            <td rowspan="2"  height="80" align="center" valign="middle">
                <input type="text" class="form-control" id="autoSizingInput3">
            </td>
        </tr>
        <tr>
            <th  rowspan="2" class="table-active" width="150" valign="middle">식별문자</th>
            <td  rowspan="2" width="485" height="120" align="left" valign="middle">
                <form class="row gx-2 align-items-center">
                    <div class="col-7" style="margin-bottom: 10px">
                        <label class="visually-hidden" for="autoSizingInput1">Name</label>
                        <input type="text" class="form-control" id="autoSizingInput1" placeholder="문자 1">
                    </div>
                </form>

                <form class="row gx-2 align-items-center">
                    <div class="col-7">
                        <label class="visually-hidden" for="autoSizingInput">Name</label>
                        <input type="text" class="form-control" id="autoSizingInput" placeholder="문자 2">
                    </div>
                </form>
            </td>

        </tr>
        <th class="table-active" width="150" valign="middle">회사명</th>
        <td height="80" align="center" valign="middle">
            <input type="text" class="form-control" id="autoSizingInput4">
        </td>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th class="table-active" width="150" valign="middle" rowspan="2">제형</th>
            <td rowspan="2" height="100" valign="middle" text-align="left">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                     style="display : block; text-align: left">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="정">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio1"><img
                            src="/image/mediSearch-shape2/shape1.png"></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="경질">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio2"><img
                            src="/image/mediSearch-shape2/shape2.png"></label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" value="연질">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio3"><img
                            src="/image/mediSearch-shape2/shape3.png"></label>

<!--                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" value="기타">-->
<!--                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio5"><img-->
<!--                            src="/image/mediSearch-shape2/any.png"></label>-->

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" value="전체" checked>
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio6"><img
                            src="/image/mediSearch-shape2/all.png"></label>
                </div>
            </td>
            <div>

            </div>
        </tr>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th class="table-active" width="150" valign="middle">분할선</th>
            <td height="100" align="center" valign="middle" colspan="4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                     style="display : block; text-align: left">
                    <input type="radio" class="btn-check" name="btnradio3" id="btnradio___1" autocomplete="off" value="없음">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio___1"><img
                            src="/image/mediSearch-line/line0.png"></label>

                    <input type="radio" class="btn-check" name="btnradio3" id="btnradio___2" autocomplete="off" value="십자분할선">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio___2"><img
                            src="/image/mediSearch-line/line2.png"></label>

                    <input type="radio" class="btn-check" name="btnradio3" id="btnradio___3" autocomplete="off" value="분할선">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio___3"><img
                            src="/image/mediSearch-line/line1.png"></label>

<!--                    <input type="radio" class="btn-check" name="btnradio3" id="btnradio___5" autocomplete="off" checked>-->
<!--                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio___5"><img-->
<!--                            src="/image/mediSearch-line/any.png"></label>-->

                    <input type="radio" class="btn-check" name="btnradio3" id="btnradio___6" autocomplete="off" value="전체" checked>
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio___6"><img
                            src="/image/mediSearch-line/all.png"></label>

                </div>
            </td>
        </tr>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th class="table-active" width="150" valign="middle">모양</th>
            <td align="center" valign="middle" colspan="4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                     style="display : block; text-align: left">
                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_1" autocomplete="off"  value="원형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_1"><img
                            src="/image/mediSearch-shape/circle.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_2" autocomplete="off" value="타원형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_2" ><img
                            src="/image/mediSearch-shape/roundcircle.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_3" autocomplete="off" value="장방형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_3"><img
                            src="/image/mediSearch-shape/cap.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_4" autocomplete="off" value="반원형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_4"><img
                            src="/image/mediSearch-shape/halfcircle.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_5" autocomplete="off" value="삼각형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_5" ><img
                            src="/image/mediSearch-shape/triangle.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_6" autocomplete="off" value="사각형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_6" ><img
                            src="/image/mediSearch-shape/square.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_7" autocomplete="off" value="마름모형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_7" ><img
                            src="/image/mediSearch-shape/rhombus.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_8" autocomplete="off" value="오각형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_8" ><img
                            src="/image/mediSearch-shape/angle5.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_9" autocomplete="off" value="육각형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_9" ><img
                            src="/image/mediSearch-shape/angle6.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_10" autocomplete="off" value="팔각형">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_10" ><img
                            src="/image/mediSearch-shape/angle8.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_11" autocomplete="off" value="기타">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_11"><img
                            src="/image/mediSearch-shape/any.png"></label>

                    <input type="radio" class="btn-check" name="btnradio1" id="btnradio_12" autocomplete="off" value="전체" checked>
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio_12" ><img
                            src="/image/mediSearch-shape/all.png"></label>

                </div>
            </td>
        </tr>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->
        <tr>
            <th class="table-active" width="150" valign="middle">색상</th>
            <td height="100" align="center" valign="middle" colspan="4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group"
                     style="display : block; text-align: left">
                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__1" autocomplete="off" value="하양">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__1" ><img
                            src="/image/mediSearch-color/white.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__2" autocomplete="off" value="노랑">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__2" ><img
                            src="/image/mediSearch-color/yellow.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__3" autocomplete="off" value="주황">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__3" ><img
                            src="/image/mediSearch-color/orange.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__4" autocomplete="off" value="분홍">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__4" ><img
                            src="/image/mediSearch-color/pink.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__5" autocomplete="off" value="빨강">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__5" ><img
                            src="/image/mediSearch-color/red.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__6" autocomplete="off" value="갈색">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__6" ><img
                            src="/image/mediSearch-color/brown.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__7" autocomplete="off" value="연두">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__7" ><img
                            src="/image/mediSearch-color/chartreuse.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__8" autocomplete="off" value="초록">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__8" ><img
                            src="/image/mediSearch-color/green.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__9" autocomplete="off" value="청록">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__9" ><img
                            src="/image/mediSearch-color/cyan.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__10" autocomplete="off" value="파랑">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__10" ><img
                            src="/image/mediSearch-color/blue.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__11" autocomplete="off" value="남색">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__11" ><img
                            src="/image/mediSearch-color/navy.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__12" autocomplete="off" value="자주">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__12" ><img
                            src="/image/mediSearch-color/darkmagenta.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__13" autocomplete="off" value="보라">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__13" ><img
                            src="/image/mediSearch-color/purple.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__14" autocomplete="off" value="회색">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__14" ><img
                            src="/image/mediSearch-color/gray.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__15" autocomplete="off" value="검정">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__15" ><img
                            src="/image/mediSearch-color/black.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__16" autocomplete="off" value="투명">
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__16" ><img
                            src="/image/mediSearch-color/transparency.png"></label>

                    <input type="radio" class="btn-check" name="btnradio2" id="btnradio__17" autocomplete="off" value="전체" checked>
                    <label class="btn btn-outline-primary btngroupMargin" for="btnradio__17" ><img
                            src="/image/mediSearch-color/all.png"></label>
                </div>
            </td>
        </tr>
        <!--ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ-->

        </tbody>
    </table>
</div>
<div class="testDiv">
    <button type="button" id="rebtn" class="btn btn-secondary btn-lg">
        다시 입력
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
        </svg>
    </button>
    <button type="button" class="btn btn-primary btn-lg" id="searchBtn">
        검 색
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
             viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </button>
</div>

<div class="mediSearchDiv" id="searchArea" th:if="${size != null}">
    <h1 style="display: inline;color: #0d6efd">검색결과 리스트</h1>
    <h2 style="display: inline" th:text="'('+ ${size} + '개)'">( N개 )</h2>
    <table class="table table-bordered tevents" style="font-size: 20px;text-align: center;vertical-align: middle;
            table-layout: auto;width: 100%;height: auto">
        <thead>
        <tr class="table-active">
            <th scope="col" style="width: 200px">식별/포장</th>
            <th scope="col" style="width: 350px">제품명</th>
            <th scope="col">효능</th>
            <th scope="col" style="width: 170px">회사명</th>
            <th scope="col" style="width: 120px">제형</th>
            <th scope="col" style="width: 90px">구분</th>
        </tr>
        </thead>
        <tbody th:each="medi : ${medicines}">
                <tr onclick="location.href='/medi/info'">
                        <td><img th:src="${medi.getImageUrl()}" style="width: 100%;"></td>
                        <td th:utext="${medi.getName()}">타이레놀</td>
                        <td th:utext="${medi.getCodeName()}">효능</td>
                        <td th:text="${medi.getCompanyName()}">한국얀센</td>
                        <td th:text="${medi.getFormulation()}">정제</td>
                        <td th:text="${medi.getSB()}">일반</td>
                </tr>
        </tbody>
    </table>
</div>
<div class="testDiv">

</div>
<!-- bootstrp js 링크 -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/mediSearch.js"></script>

<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
        trigger: 'focus';
    })
</script>
</body>
</html>